<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.example.demospringboot.util.mapper.BlogMapper">

    <!--
        id="save"是唯一的标示符
        parameterType属性指明插入时使用的参数类型
        useGeneratedKeys="true"表示使用数据库的自动增长策略
     -->
    <!--    <insert id="saveUser" parameterType="com.rookie.bigdata.domain.User" useGeneratedKeys="true">-->
    <!--        INSERT INTO T_USER(name,sex,age)-->
    <!--        VALUES(#{name},#{sex},#{age})-->
    <!--    </insert>-->

    <!-- select操作
    parameterType="int"表示该查询语句需要一个int类型的参数
    resultType="user"表示返回的是一个user对象 -->
    <select id="selectBlog" parameterType="int" resultType="com.example.demospringboot.pojo.Blog">
        SELECT * FROM blog WHERE id = #{id}
    </select>

    <insert id="insertBlog" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
        insert into Blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">`id`,</if>
        <if test="userName != null">`user_name`,</if>
        <if test="userAge != null">`user_age`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">#{id,jdbcType=INTEGER},</if>
        <if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
        <if test="userAge != null">#{userAge,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <insert id="batchInsertBlog" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        <foreach collection="blogList" item="item" index="index" separator=";">
            insert into Blog
            <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="item.id != null">
                    id,
                </if>
                <if test="item.userName != null">
                    user_name,
                </if>
                <if test="item.userAge != null">
                    user_age
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="item.id != null">#{item.id,jdbcType=INTEGER},</if>
                <if test="item.userName != null">#{item.userName,jdbcType=VARCHAR},</if>
                <if test="item.userAge != null">#{item.userAge,jdbcType=INTEGER}</if>
            </trim>
        </foreach>
    </insert>

    <insert id="batchInsertBlogSecond" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into Blog(id,user_name,user_age) values
        <foreach collection="blogList" item="item" separator=",">(
            #{item.id,jdbcType=INTEGER},
            #{item.userName,jdbcType=VARCHAR},
            #{item.userAge,jdbcType=INTEGER})
        </foreach>
    </insert>
</mapper>